<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">

<head>
    <meta charset="UTF-8">
    <title>Data View Tool</title>
</head>
<body>
    <h1>Data View Tool</h1>
    <h2>Search</h2>
    <h3>By Last Name</h3>
    <form action="/query" method="get" autocomplete="off">
        <label for="query">Enter Data Query: </label>
        <input type="text" id="query" name = "query" placeholder="Enter Last Name" autocomplete="off"><br>
        <input type="submit" value = "Search...">

    </form>
    <h3>See Everything</h3>
    <form action="/query" method="get" autocomplete="off">
        <input type="hidden" id="query" name="query" value="*">
        <input type="submit" value = "Show All Entries...">
    </form>

    <h2>Insert</h2>
    <form action="/append" method="pos" autocomplete="off">
        <label for="firstName">Enter First Name</label>
        <input type="text" id="firstName" name = "firstName" placeholder="Enter First Name" autocomplete="off"><br>
        <label for="lastName">Enter Last Name </label>
        <input type="text" id="lastName" name = "lastName" placeholder="Enter Last Name" autocomplete="off"><br>
        <input type="submit" value = "Insert">
    </form>
</body>
</html>