<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
<style>
    body > header{
        background-color:black;
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>Data View Tool</title>
</head>

<body>

    <header>
        <nav>

            <div style="display:flex; text-align: center; justify-content: center;" width=500px height=500px>
                <a href="/"  ><img th:src="@{dataviewtool.png}" style="object-fit: cover;" width=100% height=100%></a>
            </div>

            <a href="/">Home</a>
            <a href="/loginform">Log In</a>
            <a href="/queryhub">Query</a>
            <a href="/updatehub">Update</a>
            <a href="/query?query=*">View All Truckloads</a>
        </nav>

    </header>
<main>
    <h2>Lorem Ipsum Lorem Ipsum</h2>
    <p>Flee, my friend, into thy solitude! I see thee deafened with the noise of the great men, and stung all over with the stings of the little ones.

        Admirably do forest and rock know how to be silent with thee. Resemble again the tree which thou lovest, the broad-branched one—silently and attentively it o’erhangeth the sea.

        Where solitude endeth, there beginneth the market-place; and where the market-place beginneth, there beginneth also the noise of the great actors, and the buzzing of the poison-flies.

        In the world even the best things are worthless without those who represent them: those representers, the people call great men.

        Little do the people understand what is great—that is to say, the creating agency. But they have a taste for all representers and actors of great things.

        Around the devisers of new values revolveth the world:—invisibly it revolveth. But around the actors revolve the people and the glory: such is the course of things.

        Spirit, hath the actor, but little conscience of the spirit. He believeth always in that wherewith he maketh believe most strongly—in HIMSELF!</p>
    <hr>
    <h2>THE FLIES IN THE MARKET-PLACE</h2>
    <p>To-morrow he hath a new belief, and the day after, one still newer. Sharp perceptions hath he, like the people, and changeable humours.

        To upset—that meaneth with him to prove. To drive mad—that meaneth with him to convince. And blood is counted by him as the best of all arguments.

        A truth which only glideth into fine ears, he calleth falsehood and trumpery. Verily, he believeth only in Gods that make a great noise in the world!

        Full of clattering buffoons is the market-place,—and the people glory in their great men! These are for them the masters of the hour.

        But the hour presseth them; so they press thee. And also from thee they want Yea or Nay. Alas! thou wouldst set thy chair betwixt For and Against?

        On account of those absolute and impatient ones, be not jealous, thou lover of truth! Never yet did truth cling to the arm of an absolute one.

        On account of those abrupt ones, return into thy security: only in the market-place is one assailed by Yea? or Nay?

        Slow is the experience of all deep fountains: long have they to wait until they know WHAT hath fallen into their depths.</p>

</main>


</body>
</html>