<!DOCTYPE html>
<html lang="en">

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">

    <style>
        h1, h2, p {
        text-align:center;
        }

    </style>

    <head>
        <meta charset="UTF-8">
        <title>DataViewTool | Login Success</title>
    </head>

    <body>

        <h1>Successful Login</h1>

        <p class="notice">Welcome! You are currently logged in as <b th:text="${username}"></b></p>

        <p>
            <a href="/">
                <button>Return to Home</button>
            </a>
        <p>

    </body>

</html>