<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
<style>
    body > header{
        background-color:black;
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <header>
        <nav>

            <div style="display:flex; text-align: center; justify-content: center;" width=500px height=500px>
                <a href="/"  ><img th:src="@{dataviewtool.png}" style="object-fit: cover;" width=100% height=100%></a>
            </div>


            <a href="/">Home</a>
            <a href="/loginform">Log In</a>
            <a href="/queryhub">Query</a>
            <a href="/updatehub">Update</a>
            <a href="/query?query=*">View All Truckloads</a>
        </nav>
        <h1>Query Database</h1>
    </header>

    <main>
        <section>
            <h2>Search</h2>
            <h3>By Source</h3>
            <form action="/query" method="get" autocomplete="off">
                <label for="query">Enter Data Query: </label>
                <input type="text" id="query" name = "query" placeholder="Enter Source" autocomplete="off"><br>
                <input type="submit" value = "Search...">

            </form>
            <h3>See Everything</h3>
            <form action="/query" method="get" autocomplete="off">
                <input type="hidden" id="query" name="query" value="*">
                <input type="submit" value = "Show All Entries...">
            </form>
        </section>
    </main>

</body>
</html>